/*@import url("~/platform.css");*/
@import '~/nativescript-theme-core/css/core.dark.css';

Page {
  font-size: 15;
}
TextField {
  padding: 10;
  font-size: 13;
}

ActionBar {
  background-color: #303030;
  color: #F8F8F8;
}

.small-spacing {
  margin: 5;
}
.medium-spacing {
  margin: 10;
}
.fa {
  font-family: FontAwesome, fontawesome-webfont;
}

.btn-default {
  background-color: rgb(215,215,215);
}

.rounded {
  border-radius: 30;
  height: 50;
  width: 50;
}
